easydict
jsonlines
matplotlib
networkx
numpy
opencv-python
pandas
Pillow
protobuf==3.10.0
pycocotools
PyYAML
regex==2019.8.19
requests==2.22.0
scikit-image
scipy
tensorboard
tensorboardX
tensorflow
torchvision==0.3.0
tqdm
urllib3
boto3
